
.sta-je-vlasilan{
 
    margin-top: -50px;
    background: $white-bcg;

     padding: 100px 0px;
    h1{
        color: $dark-green;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3rem;
        text-align: center;
    }
    h2{
        color: $dark-green;
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;

    }
    h5{
        text-align: center;
        color: $dark-green;
        font-weight: bold;
        font-size: 2.5rem;
        text-transform: uppercase;

    }
    p{
        text-align: center;
        font-size: 1.5rem;
        color: $gray-text;
    }

    .testemonijal{
       border: 2px solid white;
       transition: all 0.3s;
    }
    .testemonijal:hover{
        border: 2px solid $dark-green;
    }

    .btn-container{
      display: flex;
      justify-content: center;
      height: 100px;
       width: 100%;
      margin-top:50px;

     
    }
}