@import './scss/variables';
@import './scss/basics';
@import './scss/footer';
@import './scss/sta-je-vasilan';
@import './scss/za-koga-vasilan';
@import './scss/kako-se-koristi';
@import './scss/formula-a';
@import './scss/formula-b';
@import './scss/hero';
@import './scss/forma';


///////////////////////////////////////////////

nav{
  &-link{
      color: white/1.5 !important;
  }
    .nav-item{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5rem;
        transition: all 0.3s;
        margin-right: 30px;
        border: 1px solid transparent;
        color: white;
    }

    .nav-item:hover{
        border: 1px solid white;
    }
}

.navbar{   
    padding: 30px 10px;
    background: rgba(0, 0, 0, 0.26); 
    @media (max-width: 991.98px) { 
        padding: 0px 10px;
    }
    ul{
        padding-top: 20px;
    }
    &-toggler{
        position: absolute;
        left: 45%;
        top: 100%;
    }

   
    }



    .main-1{
        padding: 50px 50px;
        background: $white-bcg;
    }

    .btn-naruci-red{
        height: 60px;
           text-transform: uppercase;
           text-align: center;
           transition: all 0.3s;
           border-radius: 30px;
           cursor: pointer;
           font-size: 3rem;
           font-weight: bold;
           border: 3px solid white;
           box-shadow: 0 0 3px  gray;
           letter-spacing: 2px;
           line-height: 2rem;
           padding: 2px 25px;
           color: white;
           background: $red;
         
           &::before{
             font-family: 'FontAwesome';
             content: "\f0a9";
             display: inline-block;
             margin-right: 10px;
           }
 
           &::after{
             font-family: 'FontAwesome';
             content: '\f0a8';
             display: inline-block;
             margin-left: 10px;
           }
 
       }

       .btn-naruci-red:hover{
           background: transparent;
           border: 2px solid $dark-green;
           text-shadow:-2px -1px $gray-text;
       }

       .special-container{
        width: 100%;
        height: 6px;
        border-top: 2px solid $gray-dark;
        border-bottom: 2px solid $gray-dark;
        text-align: center;
        margin-bottom: 100px;
  
      .icon{
          display: inline-block;
          font-size: 7rem;
          color: $dark-green;
          margin-top: -50px;
          background: $white-bcg;
          width: 200px;
      }
    }

