* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

a {
  color: white;
  text-decoration: none !important;
}

a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: 'Montserrat',"FontAwesome", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: white;
}

/* 
////////////////PRE SET/////////////////////////// */
.footer {
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e8eef4;
}

.footer .icons {
  margin-bottom: 70px;
}

.footer .icons .fab {
  display: inline-block;
  font-size: 6rem;
  color: #337439;
  margin-right: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .icons .fab:hover {
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}

.footer .central {
  text-align: center;
  font-size: 1.5rem;
}

.sta-je-vlasilan {
  margin-top: -50px;
  background: #f3f6fa;
  padding: 100px 0px;
}

.sta-je-vlasilan h1 {
  color: #337439;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.sta-je-vlasilan h2 {
  color: #337439;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

.sta-je-vlasilan h5 {
  text-align: center;
  color: #337439;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.sta-je-vlasilan p {
  text-align: center;
  font-size: 1.5rem;
  color: gray;
}

.sta-je-vlasilan .testemonijal {
  border: 2px solid white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sta-je-vlasilan .testemonijal:hover {
  border: 2px solid #337439;
}

.sta-je-vlasilan .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 100%;
  margin-top: 50px;
}

.za-koga-vlasilan h2 {
  text-align: center;
  margin: 50px 0px;
  font-weight: bold;
}

.za-koga-vlasilan h5 {
  text-align: center;
  color: #337439;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.za-koga-vlasilan h4 {
  text-align: center;
  color: #337439;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}

.za-koga-vlasilan p {
  text-align: center;
  font-size: 1.5rem;
  color: gray;
}

.za-koga-vlasilan .testemonijal {
  border: 2px solid white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.za-koga-vlasilan .testemonijal:hover {
  border: 2px solid #337439;
}

.za-koga-vlasilan .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 100%;
  margin-top: 50px;
}

.kako-se-koristi {
  background-image: url("./images/kosa.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 400px;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 50px 250px;
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .kako-se-koristi {
    padding: 30px 50px;
  }
}

.kako-se-koristi h2 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}

.kako-se-koristi h3 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 30px;
}

.kako-se-koristi p {
  text-transform: lowercase;
  font-size: 1.5rem;
  margin-top: 50px;
}

.formula-a {
  width: 100%;
  padding: 50px 100px;
  background: #f8d95b;
}

.formula-a a {
  color: black;
}

@media (max-width: 991.98px) {
  .formula-a {
    padding: 20px 30px;
  }
}

.formula-a h2 {
  line-height: 40px;
  margin-bottom: 40px;
}

.formula-a p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

@media (max-width: 991.98px) {
  .formula-a p {
    text-align: center;
  }
}

.formula-a .btn-naruci-white {
  height: 50px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 30px;
  width: 250px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid white;
  background: white;
  -webkit-box-shadow: 0 0 3px  gray;
          box-shadow: 0 0 3px  gray;
  margin: 50px 0px;
}

.formula-a .btn-naruci-white:hover {
  background: transparent;
  border: 2px solid black;
  text-shadow: 0 0 2px gray;
}

.formula-a-picture {
  padding-top: 100px;
}

.formula-b {
  width: 100%;
  padding: 50px 100px;
  background: #337439;
  color: white;
  margin-top: 100px;
}

.formula-b a {
  color: black;
}

@media (max-width: 991.98px) {
  .formula-b {
    padding: 20px 30px;
  }
}

.formula-b h2 {
  line-height: 40px;
  margin-bottom: 40px;
}

.formula-b p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

@media (max-width: 991.98px) {
  .formula-b p {
    text-align: center;
  }
}

.formula-b .btn-naruci-white {
  height: 50px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 30px;
  width: 250px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid white;
  background: white;
  -webkit-box-shadow: 0 0 3px  gray;
          box-shadow: 0 0 3px  gray;
  color: #337439;
  margin: 50px 0px;
}

.formula-b .btn-naruci-white:hover {
  background: transparent;
  border: 2px solid white;
  text-shadow: 0 0 2px gray;
  color: white;
}

.formula-b .btn-naruci-white:hover a {
  color: white;
}

.formula-b-picture {
  padding-top: 100px;
}

.hero {
  margin-top: -200px;
  background-color: #757504;
  background-image: url("./images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 250px 100px 100px 100px;
}

.hero h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: white;
  text-align: center;
  font-weight: bold;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.hero h2 {
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  text-align: center;
  font-weight: bold;
}

.hero ul {
  font-size: 1.5rem;
  color: white;
  margin-right: 200px;
  list-style: none;
}

.hero ul li::before {
  font-family: 'FontAwesome';
  content: "\f0a9";
  display: inline-block;
  margin-right: 10px;
}

.forma-wraper {
  padding: 100px 200px;
  background: #f3f6fa;
}

@media (max-width: 991.98px) {
  .forma-wraper {
    padding: 50px 50px;
  }
}

.forma-wraper h2 {
  color: #337439;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}

.forma-wraper h3 {
  color: #337439;
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
}

.forma-wraper .forma {
  background: white;
  padding: 50px 50px;
}

.forma-wraper .forma input[type='radio'] {
  width: 30px;
  height: 30px;
}

.forma-wraper .forma .kocha-input {
  margin: 10px;
  border: 1px solid #337439;
  height: 40px;
  font-size: 2rem;
}

.forma-wraper .forma .w-full {
  display: block;
  width: 100%;
}

.forma-wraper .forma .btn-container {
  text-align: center;
  margin: 50px 0px;
}

.forma-wraper .forma .btn-container .no-radius {
  border-radius: 0 !important;
  font-size: 1.5rem;
}

.forma-wraper .forma .btn-container .no-radius::before {
  content: '';
}

.forma-wraper .forma .btn-container .no-radius::after {
  content: '';
}

.forma-wraper .forma .contact-details {
  text-align: center;
}

.forma-wraper .forma .contact-details p {
  color: #337439;
  font-size: 2rem;
  text-align: center;
}

.forma-wraper .forma .contact-details img {
  margin: 20px 0;
}

.my-collapse {
  background: black;
  height: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

@media (min-width: 768px) {
  .my-collapse {
    display: none;
  }
}

.my-collapse ul {
  display: none;
  padding-left: 20px;
}

.my-collapse .nav-item {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 30px;
  border: 1px solid transparent;
  color: white;
}

.my-collapse .nav-item:hover {
  border: 1px solid white;
}

.my-collapse-show {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 200px;
  z-index: 9999;
  background: black;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.my-collapse-show ul {
  display: block;
  padding-left: 20px;
}

.navbar-toggler {
  position: absolute;
  bottom: -26px;
  left: 40%;
  background: #b8b6b6;
  width: 150px;
  height: 25px;
  color: white;
  z-index: 99999;
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
}

@media (max-width: 991.98px) {
  nav {
    position: fixed;
  }
}

nav-link {
  color: white/1.5 !important;
}

nav .nav-item {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 30px;
  border: 1px solid transparent;
  color: white;
}

nav .nav-item:hover {
  border: 1px solid white;
}

.navbar {
  padding: 30px 10px;
  background: rgba(0, 0, 0, 0.26);
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 0px 10px;
  }
}

.navbar ul {
  padding-top: 20px;
}

@media (max-width: 767.98px) {
  .navbar ul {
    background: black;
  }
}

.main-1 {
  padding: 50px 50px;
  background: #f3f6fa;
}

.btn-naruci-red {
  height: 60px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 30px;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  border: 3px solid white;
  -webkit-box-shadow: 0 0 3px  gray;
          box-shadow: 0 0 3px  gray;
  letter-spacing: 2px;
  line-height: 2rem;
  padding: 2px 25px;
  color: white;
  background: #c45151;
}

.btn-naruci-red::before {
  font-family: 'FontAwesome';
  content: "\f0a9";
  display: inline-block;
  margin-right: 10px;
}

.btn-naruci-red::after {
  font-family: 'FontAwesome';
  content: '\f0a8';
  display: inline-block;
  margin-left: 10px;
}

.btn-naruci-red:hover {
  background: transparent;
  border: 2px solid #337439;
  text-shadow: -2px -1px gray;
}

.special-container {
  width: 100%;
  height: 6px;
  border-top: 2px solid #e7eaee;
  border-bottom: 2px solid #e7eaee;
  text-align: center;
  margin-bottom: 100px;
}

.special-container .icon {
  display: inline-block;
  font-size: 7rem;
  color: #337439;
  margin-top: -50px;
  background: #f3f6fa;
  width: 200px;
}

.dugme-jebeno {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/*# sourceMappingURL=main.css.map */